-- MariaDB dump 10.19  Distrib 10.11.5-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: capstone
-- ------------------------------------------------------
-- Server version	10.11.5-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `user_account`
--

DROP TABLE IF EXISTS `user_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_account` (
  `created_at` datetime(6) NOT NULL,
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `updated_at` datetime(6) NOT NULL,
  `name` varchar(50) NOT NULL,
  `email` varchar(120) NOT NULL,
  `role` enum('ADMIN','PROFESSOR','STUDENT','TA') NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `avatar_url` varchar(255) DEFAULT NULL,
  `last_login_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_email` (`email`),
  UNIQUE KEY `ux_user_account_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_account`
--

LOCK TABLES `user_account` WRITE;
/*!40000 ALTER TABLE `user_account` DISABLE KEYS */;
INSERT INTO `user_account` VALUES
('2025-09-09 10:52:09.000000',1,'2025-09-09 10:52:09.000000','源?숈깮','kim@u.ac.kr','STUDENT','$2b$10$k1du3g4pzHbvJYQtF3rAseXqgM7Gucfbqjfke0bDMxsW1WT5cTDUm',NULL,NULL),
('2025-09-09 10:52:09.000000',2,'2025-09-09 10:52:09.000000','?댄븰??,'lee@u.ac.kr','STUDENT','$2b$10$k1du3g4pzHbvJYQtF3rAseXqgM7Gucfbqjfke0bDMxsW1WT5cTDUm',NULL,NULL),
('2025-09-09 10:52:09.000000',3,'2025-09-09 10:52:09.000000','諛뺥븰??,'park@u.ac.kr','STUDENT','$2b$10$k1du3g4pzHbvJYQtF3rAseXqgM7Gucfbqjfke0bDMxsW1WT5cTDUm',NULL,NULL),
('2025-09-09 10:52:09.000000',4,'2025-09-09 10:52:09.000000','理쒓탳??,'choi@u.ac.kr','PROFESSOR','$2b$10$k1du3g4pzHbvJYQtF3rAseXqgM7Gucfbqjfke0bDMxsW1WT5cTDUm',NULL,NULL),
('2025-09-09 16:57:24.435923',5,'2025-09-09 16:57:24.435923','Hong Gildong','hong@example.com','STUDENT','$2a$10$j1pkLk8JcGLVZc90KqvW4e65pbAXVf8nNErQgy9B62qi6kskz/7bK',NULL,NULL),
('2025-09-09 17:21:17.099190',6,'2025-09-09 17:21:17.099190','TestUser','test2002@example.com','STUDENT','$2a$10$gf682P69.NdSH0U36I21/.ix8bgRANHzUdLUMT6GcfQiHcad5Ott2',NULL,NULL),
('2025-09-09 19:40:13.695334',7,'2025-09-09 19:40:13.695334','TestUser','test_20250909194013@example.com','STUDENT','$2a$10$xNPQ4RGsllPUIj4HjiTQB.3q3dyrGtfJXT1WPS9jFBQNDBsVVAV5S',NULL,NULL),
('2025-09-09 19:46:34.593440',8,'2025-09-09 19:46:34.593440','TestUser','test_20250909194634@example.com','STUDENT','$2a$10$YbKvrtb8arPvlwyevcjSeOQrW9EQ3cmQLwle4XrgLipL8h801NRfi',NULL,NULL),
('2025-09-09 20:11:08.988603',9,'2025-09-09 20:11:08.988603','Test User','test_1757416268@example.com','STUDENT','$2a$10$hFBcNaIv7l1PI9tyP7gNR.DLmTA8i6hnM4zbcIuc3xEU5UapQ.qXK',NULL,NULL),
('2025-09-09 20:30:49.943809',10,'2025-09-09 20:30:49.943809','Integration Test New','test_new_1757417449@example.com','STUDENT','$2a$10$utF50j3ScZmuFU8ra5yMMOceJ9DCLD.D/1fRif3sSKBIe6eBQrQUy',NULL,NULL),
('2025-09-09 21:47:10.441057',11,'2025-09-09 21:47:10.441057','Smoke Test User','smoketest_20250909214710@example.com','STUDENT','$2a$10$yRpA0BicdjLVVrHJxK9LOOU1Z6h4rmlejyGT4te6w2HZel65si.XW',NULL,NULL),
('2025-09-10 14:17:19.132661',12,'2025-09-11 12:47:30.346454','Test User','test@example.com','STUDENT','$2a$10$EiawbiXWIHo0SGVrM7WjyOQioWWm2UA7tcQ6xZbjcLYDYr0SFWx7C',NULL,'2025-09-11 12:47:30.346454'),
('2025-09-10 14:17:25.506490',13,'2025-09-10 14:17:25.635136','Test User','test_613983499@example.com','STUDENT','$2a$10$umLveDqJYmfQsPittBzC1ejBMkVjun.hWOoTxXDs/sXIuR0mSf3KS',NULL,'2025-09-10 14:17:25.633129'),
('2025-09-10 14:17:49.670150',14,'2025-09-10 14:17:49.786767','Test User','test_828575299@example.com','STUDENT','$2a$10$81dn1U/c7aHpB1bCCtLTseya/SXKoWIzwQ9Y/mEexc5wBTwQz3x5C',NULL,'2025-09-10 14:17:49.784766'),
('2025-09-10 14:19:23.170429',15,'2025-09-10 14:19:23.278481','Test User','test_527153867@example.com','STUDENT','$2a$10$5A7TVBltBW77VQAMiC4UuuN3mJJttZnyoZ5DMMGuHLSe35pyT/XY2',NULL,'2025-09-10 14:19:23.277325'),
('2025-09-10 14:20:34.089380',16,'2025-09-10 14:20:34.180065','Test User','test_26982984@example.com','STUDENT','$2a$10$Xel80OHiY4vtP.6CU3f3Ru8NL007M9PAvzW8dQXm7dVWM7fC/Ng9W',NULL,'2025-09-10 14:20:34.180065'),
('2025-09-11 12:47:21.033314',17,'2025-09-15 16:29:19.571652','紐⑥씤吏','moinji@mail.com','STUDENT','$2a$10$sGCIYdRE/iD6O9lwKlx14uCJa3BmlOPsADeSMa93o0FbCbAWoKE5a',NULL,'2025-09-15 16:29:19.569731'),
('2025-09-11 12:47:57.107934',18,'2025-09-11 12:47:57.187167','媛뺤궗','teacher@mail.com','PROFESSOR','$2a$10$oQJaqZXB4wg3k.T80f40T.xTjX/QWqCgG7.8Or2.N7qAx156pcGxy',NULL,'2025-09-11 12:47:57.183233');
/*!40000 ALTER TABLE `user_account` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-16  0:14:25
